name: Playwright Tests
on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 */1 * * *"

concurrency:
  # Only run once this workflow
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  playwright:
    uses: andreaTP/apicurio-gh-workflows/.github/workflows/playwright.yaml@playwright-test-reports
    with:
      os: ubuntu-latest
      notify-on-failure: true
    secrets:
      username: ${{ secrets.RH_USERNAME }}
      password: ${{ secrets.RH_PASSWORD }}
      chat-webhook: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
